:root {
  padding: 0%;
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --text-color: #333;
    --dark-blue:  #1F5673;
  }
  

.innerWidth {
    margin: 0 auto; /* Center the container horizontally */
    padding: 1.5rem;/* Apply padding for spacing */
    max-width: 1400px; /* Set a maximum width for larger screens */
  }

.navbar {
  /* position: fixed; */
  z-index: 1000;
}

.border-none {
  border: none;
}